/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 

 */

@import "bootstrap-sprockets";
@import "bootstrap";


    body {
  padding-top: 50px;
  font-family: 'Arial', sans-serif;
  
  font-size: 14px;
  color:#666;
  line-height: 1.5em;
  
}
    header{
    background: #333;
    color: #fff;
    height:80px;
    margin-bottom: 20px;
    
}

 footer{
    background: #333;
    color: #fff;
    height:60px;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
}

.img-container {
    position:relative;
    padding-top:66.59%;
}

#tours-index img {
    width:100%;
    padding: 3px;
    border: 1px #ccc solid;
}

#tours-index{
    text-align: center;
}

#tours-index{
    height: 50px;
    
}

#tours-index{
    display: block;
    margin-top:20px;
    
    
}

#tour-show {
    background: #f4f4f4;
    padding:10px;
    
    
}

.tour-show-left{
    float:left;
    width:40%;
}

.tour-show-right{
    float:left;
    width:60%;
    margin-top:10px;
    
    
}
.tour-show .btn{
    
    margin:20px 0 0 0 70px;
}

.main-container {
   
  
    padding: .75rem;
    /* margin-bottom: 2rem; */
    /* border: 0; */
}